<h1>Bookmarks for <%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> <!-- Assuming bookmark has a `movie` association -->
      <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
