<h1>Add a Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, prompt: "Select a Movie" %>
  <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
<% end %>
